extends ../index

append head
	link(rel="stylesheet" href="/css/user/signup.css")

block content
	.wrap-coll
		.coll-tit
			h2(class="cont-tit") SignUp
			span(class="cont-sub-tit") Shawn's Dev-Log
		.coll-cont
			form(method="post" action="/user/signup")
				fieldset
					legend(class="screen-out") 회원가입 화면
					.signup-name
						label(class="screen-out" for="userName") 비밀번호
						span(class="cover-signup")
							input(type="password" name="userName" id="userName" placeholder="Name")
					.signup-email
						label(class="screen-out" for="userEmail") 이메일
						span(class="cover-signup")
							input(type="text" name="userEmail" id="userEmail" placeholder="Email")
					.signup-pwd
						label(class="screen-out" for="userPwd") 비밀번호
						span(class="cover-signup")
							input(type="password" name="userPwd" id="userPwd" placeholder="Password")
					.signup-submit
						button(class="btn-submit") 회원가입
					.signup-links
						a(href="/user/login" class="link-login") 로그인
						a(href="/user/forget" class="link-forget") 비밀번호를 잊으셨나요?



