<!doctype html>
<html lang="ko">
<head>
    {{>head}}
</head>
<body>
    <div id="s-wrapper">
        {{>header}}
        <section>
            {{{body}}}
        </section>
        {{>footer}}
    </div>
</body>
</html>